In [12]:
#import libraries
import pandas as pd

In [13]:
#Read the files
#Reflects the relevance of a tag to a movie on a scale of 0 to 1
#Closer to 1 is more relevant
genome_scores = pd.read_csv("Dataset/genome_scores.csv")

#tag descriptions
genome_tags = pd.read_csv("Dataset/genome_tags.csv")

#Contains movie information
movies = pd.read_csv("Dataset/movie.csv")

#ratings of movie by users
ratings = pd.read_csv("Dataset/rating.csv")

#tags applied to movies by users
tags = pd.read_csv("Dataset/tag.csv")

In [14]:
#Drop null values in tags df
tags = tags.dropna()
tags.head()

   userId  movieId            tag            timestamp
0      18     4141    Mark Waters  2009-04-24 18:19:40
1      65      208      dark hero  2013-05-10 01:41:18
2      65      353      dark hero  2013-05-10 01:41:19
3      65      521  noir thriller  2013-05-10 01:39:43
4      65      592      dark hero  2013-05-10 01:41:18

In [15]:
ratings

          userId  movieId  rating            timestamp
0              1        2     3.5  2005-04-02 23:53:47
1              1       29     3.5  2005-04-02 23:31:16
2              1       32     3.5  2005-04-02 23:33:39
3              1       47     3.5  2005-04-02 23:32:07
4              1       50     3.5  2005-04-02 23:29:40
...          ...      ...     ...                  ...
20000258  138493    68954     4.5  2009-11-13 15:42:00
20000259  138493    69526     4.5  2009-12-03 18:31:48
20000260  138493    69644     3.0  2009-12-07 18:10:57
20000261  138493    70286     5.0  2009-11-13 15:42:24
20000262  138493    71619     2.5  2009-10-17 20:25:36

[20000263 rows x 4 columns]

In [16]:
average_movieratings = ratings.groupby('movieId')['rating'].mean()

In [17]:
average_movieratings.head()

movieId
1    3.921240
2    3.211977
3    3.151040
4    2.861393
5    3.064592
Name: rating, dtype: float64

In [18]:
movies = pd.merge(movies, average_movieratings, on='movieId', how='left')

In [19]:
movies.head()

,movieId,title,genres,rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.921240
1,2,Jumanji (1995),Adventure|Children|Fantasy,3.211977
2,3,Grumpier Old Men (1995),Comedy|Romance,3.151040
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.861393
4,5,Father of the Bride Part II (1995),Comedy,3.064592

In [20]:
#Split the genres
genres = movies['genres'].str.get_dummies(sep='|')
movies = pd.concat([movies, genres], axis=1)
movies.drop('genres', axis=1, inplace=True)

In [24]:
movies.columns

Index(['movieId', 'title', 'rating', '(no genres listed)', 'Action',
       'Adventure', 'Animation', 'Children', 'Comedy', 'Crime', 'Documentary',
       'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'IMAX', 'Musical', 'Mystery',
       'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western'],
      dtype='object')

In [25]:
movies

,movieId,title,rating,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),3.921240,0,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),3.211977,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),3.151040,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale (1995),2.861393,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
4,5,Father of the Bride Part II (1995),3.064592,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27273,131254,Kein Bund für's Leben (2007),4.000000,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
27274,131256,"Feuer, Eis & Dosenbier (2002)",4.000000,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
27275,131258,The Pirates (2014),2.500000,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27276,131260,Rentun Ruusu (2001),3.000000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27277,131262,Innocence (2014),4.000000,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0