In [2]:
#import libraries
import pandas as pd

In [3]:
#Read the files
#Reflects the relevance of a tag to a movie on a scale of 0 to 1
#Closer to 1 is more relevant
genome_scores = pd.read_csv("Dataset/genome_scores.csv")

#tag descriptions
genome_tags = pd.read_csv("Dataset/genome_tags.csv")

#Contains movie information
movies = pd.read_csv("Dataset/movie.csv")

#ratings of movie by users
ratings = pd.read_csv("Dataset/rating.csv")

#tags applied to movies by users
tags = pd.read_csv("Dataset/tag.csv")

In [6]:
ratings

          userId  movieId  rating            timestamp
0              1        2     3.5  2005-04-02 23:53:47
1              1       29     3.5  2005-04-02 23:31:16
2              1       32     3.5  2005-04-02 23:33:39
3              1       47     3.5  2005-04-02 23:32:07
4              1       50     3.5  2005-04-02 23:29:40
...          ...      ...     ...                  ...
20000258  138493    68954     4.5  2009-11-13 15:42:00
20000259  138493    69526     4.5  2009-12-03 18:31:48
20000260  138493    69644     3.0  2009-12-07 18:10:57
20000261  138493    70286     5.0  2009-11-13 15:42:24
20000262  138493    71619     2.5  2009-10-17 20:25:36

[20000263 rows x 4 columns]

In [7]:
average_movieratings = ratings.groupby('movieId')['rating'].mean()

In [8]:
average_movieratings.head()

movieId
1    3.921240
2    3.211977
3    3.151040
4    2.861393
5    3.064592
Name: rating, dtype: float64

In [10]:
movies = pd.merge(movies, average_movieratings, on='movieId', how='left')

In [11]:
movies.head()

,movieId,title,genres,rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.921240
1,2,Jumanji (1995),Adventure|Children|Fantasy,3.211977
2,3,Grumpier Old Men (1995),Comedy|Romance,3.151040
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.861393
4,5,Father of the Bride Part II (1995),Comedy,3.064592